h1 {
    text-align: center;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
  }
  
  .marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
    /* um retangulo colorido aparece quando se coloca o width e o height (largura e altura)*/
    /* margin atua em todas as direcoes, neste caso centrou horizontalmente */
  }
  
  .cap {
    width: 60px;
    height: 25px;
  }
  
  .sleeve {/* corresponde ao corte onde fica baco, estamos a cortar uma parte da faixa colorida*/
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5); /* alphavalue e' o ultimo e diz a transparencia */
    border-left: 10px double rgba(0, 0, 0, 0.75);/* double em vez de solud para resultar 2 linhas */
  }
  
  .cap, .sleeve {
    display: inline-block; /*  serve para colocar duas div na mesma linha*/
  }
  
  .red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
    /* linear-gradiente precisa de gradient direction, em frente coloca-se as cores que vao fundir. POde ser necessario usar direcoes com graus 
    Podemos colocar percentagem a seguir 'a cor para dizer o quanto deve permanecer. 
    exemplo: linear_gradent(90deg, rg(255, 0, 0) 75%  */

    /* box-shadow aplica uma ou varias sombras em volta do elemento
    box-shadow = offsetX offsetY blurRadius color 
    blusRadius serve para desvanecer a cor
    */
  }
  
  .green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
  }
  
  .blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
  }

  /* cores com hsl: hsl (240, 100%, 50%
  o 1o campo diz a cor (de 0 a 360)
  o 2o campo diz a saturacao( de 0 a 100)
  o 3o campo diz a liminusidade ( de 0 a 100)
  
  Para o hsla, e' igual mas o ultimo valor e' para o alpha channel, que diz a transparencia/*
  

  /* podemos usar opacity: 0.5;   para tornar opaco 
  em semelhanca podemos usar rgba, em que o ultimo elemento que vai de 0 a 1 e se chama alphaValue, que diz o nivel de transparencia*/
