@page
@model MyProducts.Areas.DisplayCases.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a Display Case</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            
            <partial name="~/Pages/Shared/EditorTemplate/DisplayCase.cshtml" model="@Model.DisplayCase" />

            
            <div class="d-flex gap-2 ">
                <input type="submit" value="Create" class="btn btn-primary w-100" />
                <a class="btn btn-secondary w-100" asp-page="Index">Go back</a>
            </div>
            
            




        </form>
    </div>
</div>

<style>
    .form-control, .form-select {
        border-radius: 26px;
        margin: 8px 0 15px;
        border-radius: 26px;
        height: 44px;
    }

    .btn{
        border-radius: 26px;
    }
</style>